body{
    min-height: 100vh;
    background-color: gray;
    background-image: url('../../imagens/eras.jpg');
}

.login-form{
    width: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
